body {
  background-color: #6F1A07;
}

div a {
  color: ;
}

.MainPage {
  border-radius: 10px;
  background-color: #ECF0F1;
  margin: 5vh auto;
  width: 80%;
  height: 70vh;
  padding: 2vh;
}

.Washroom:hover {
  cursor: pointer;
}
