html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #CCFFFF;
}

div a {
  margin-right: 1vh;
}

.MainPage {
  border-radius: 10px;
  background-color: #ECF0F1;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80vh;
  padding: 2vh;
}

.Washroom:hover {
  cursor: pointer;
}

.search-bar{
  margin: 20px;
  text-align:center;
}
